---
layout: default
---
<div id="header" class="region-top">

  <h1 id="title" class="region-left">
    <span class="accent1">Zoo</span><span class="accent2">Babies</span>
    <span class="mobile-social">
      <span class="icon-facebook social-share social-text"></span>
      <span class="icon-twitter social-share social-text"></span>
    </span>
  </h1>
  <h2 id="subtitle" class="region-center">{{config.subtitle}}</h2>
  <div id="branding-wrapper" class="region-right">
    <div id="social">
      <a id="smLink" class="social-text" href="http://storymaps.esri.com" target="_blank">A story map</a>
      <span class="icon-facebook social-share social-text"></span>
      <span class="icon-twitter social-share social-text"></span>
      <span class="icon-link social-share social-text"></span>
    </div><!--/social-->
    <div id="logo">
      <a id="logoLink" href="http://www.esri.com" target="_blank">
        <img id="logoImg" src="resources/images/esriGlobeLogow.png" alt="Esri - Home">
      </a><!--/logoLink-->
    </div><!--/logo-->
  </div>

  <div id="fullscreen-button" class="btn small" onclick="">Open Fullscreen</div>

</div>

<div id="content" class="region-center info">

  <div id="mobile-entrance" class="region-center">
    <img src="https://farm8.staticflickr.com/7044/13542517163_093699727e_z.jpg" alt="Baby Panda">
    <div id="entrance-text">{{config.subtitle}}</div>
    <p class="btn primary">Explore Now</p>
  </div>

  <div id="animal-selector" class="zoo"></div>

  <div id="side-pane-buffer-top"></div>

  <div id="side-pane" class="region-left swiper-container zoo">
    <div id="info-pane-wrapper" class="swiper-wrapper"></div>
  </div>

  <div id="map-pane" class="region-center">
    <div id="zoo-map" class="map zoo active"></div>
    <div id="boundary-map" class="map boundary"></div>
  </div>

  <div id="zoo-toggle-wrapper" class="map-toggle-wrapper zoo active">
    <div class="map-toggle">
      <div class="btn-text">
        <p class="small">At the</p>
        <p>Zoo</p>
      </div>
    </div>
    <div class="map-toggle back-info">
      <div class="btn-text">
        <p class="small">Back to</p>
        <p>Info</p>
      </div>
    </div>
    <div class="selection-arrow"></div>
  </div>
  <div id="boundary-toggle-wrapper" class="map-toggle-wrapper boundary">
    <div class="map-toggle">
      <div class="btn-text">
        <p class="small">In the</p>
        <p>Wild</p>
      </div>
    </div>
    <div class="map-toggle back-info">
      <div class="btn-text">
        <p class="small">Back to</p>
        <p>Info</p>
      </div>
    </div>
    <div class="selection-arrow"></div>
  </div>

</div>