---
layout: default
---
<div id="header" class="region-top">

  <h1 id="title" class="region-left"><span class="accent1">Zoo</span><span class="accent2">Babies</span></h1>
  <h2 id="subtitle" class="region-center">{{config.subtitle}}</h2>
  <div id="branding-wrapper" class="region-right">
    <div id="social">
      <a id="smLink" class="social-text" href="http://storymaps.esri.com" target="_blank">A story map</a>
      <span class="icon-facebook social-share social-text"></span>
      <span class="icon-twitter social-share social-text"></span>
      <span class="icon-link social-share social-text"></span>
    </div><!--/social-->
    <div id="logo">
      <a id="logoLink" href="http://www.esri.com" target="_blank">
        <img id="logoImg" src="resources/images/esriGlobeLogow.png" alt="Esri - Home">
      </a><!--/logoLink-->
    </div><!--/logo-->
  </div>

  <div id="fullscreen-button" class="btn small" onclick="">Open Fullscreen</div>

</div>

<div id="app-content" class="region-center">

  <div id="animal-selector" class="zoo"></div>

  <div id="side-pane-buffer-top"></div>

  <div id="side-pane" class="region-left swiper-container">
    <div id="info-pane-wrapper" class="swiper-wrapper"></div>
  </div>

  <div id="map-pane" class="region-center">
    <div id="zoo-map" class="map zoo active"></div>
    <div id="boundary-map" class="map boundary"></div>
  </div>

  <div id="zoo-toggle-wrapper" class="map-toggle-wrapper zoo active">
    <div class="map-toggle">
      <p class="btn-text"><span class="small">At the</span><br>Zoo</p>
    </div>
    <div class="selection-arrow"></div>
  </div>
  <div id="boundary-toggle-wrapper" class="map-toggle-wrapper boundary">
    <div class="map-toggle">
      <p class="btn-text"><span class="small">In the</span><br>Wild</p>
    </div>
    <div class="selection-arrow"></div>
  </div>

</div>