---
layout: default
---
<div id="header" class="region-top">
  <h1 id="title" class="region-left"><span class="accent1">Zoo</span><span class="accent2">Babies</span></h1>
  <h2 id="subtitle" class="region-center">{{config.subtitle}}</h2>
  <div id="branding-wrapper" class="region-right">
    <div id="social">
      <a id="smLink" class="social-text" href="http://storymaps.esri.com" target="_blank">A story map</a>
      <span class="icon-facebook social-share social-text"></span>
      <span class="icon-twitter social-share social-text"></span>
      <span class="icon-link social-share social-text"></span>
    </div><!--/social-->
    <div id="logo">
      <a id="logoLink" href="http://www.esri.com" target="_blank">
        <img id="logoImg" src="resources/images/esriGlobeLogow.png" alt="Esri - Home">
      </a><!--/logoLink-->
    </div><!--/logo-->
  </div>
</div>

<div id="app-content" class="region-center">

  <div id="map" class="region-center"></div>

</div>