// FONTS

headerFont = "open-sans",sans-serif;
bodyFont = "open-sans",sans-serif;

h1,h2,h3,h4,h5,h6,a,p,div,i{
  font-weight: 300;
}


// COLORS

loadScreen = #ccc;
header = #444;
panel = #fff;

socialText = #dadada;
socialTextHover = #fff;

accent1 = #e98d08;
accent2 = #5faf00;
selector-highlight = #999;

subtitle = #dadada;