#fullscreen-button{
  display: none;
  float: right;
  margin: 10px 10px 0 0;
}

.embed{

  #header{
    height: 51px;
    min-height: 0;

    #fullscreen-button{
      display: block;
    }

    #title, #subtitle, #branding-wrapper{
      display: none;
    }
  }

}