#fullscreen-button{
  display: none;
  float: right;
  margin: 10px 10px 0 0;
}

.embed{

  #header{
    height: 51px;
    min-height: 0;

    #fullscreen-button{
      display: block;
    }

    #title, #subtitle, #branding-wrapper{
      display: none;
    }
  }

}

fullscreen()
  .embed{

    #header{
    height: 120px;
    min-height: 0;

      #fullscreen-button{
        display: none;
      }

      #title, #subtitle, #branding-wrapper{
        display: block;
      }
    }

  }

:-webkit-full-screen{

  fullscreen null

}

:-moz-full-screen {

  fullscreen null

}

:-ms-fullscreen {

  fullscreen null

}

:full-screen {

  fullscreen null

}

:fullscreen {

  fullscreen null

}

