#side-pane-buffer-top{
  position: absolute;
  background-color: white;
  width: 30%;
  height: 45px;
  max-width: 750px;
  min-width: 500px;
  z-index: 4;
}

#side-pane{
  height: 100%;
  width: 30%;
  max-width: 750px;
  min-width: 500px;
}

#animal-selector{
  position: absolute;
  margin-top: -26px;
  left: 15px;
  z-index: 102;

  .selector-wrapper{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left:10px;

    &:hover, &.active{
      margin: -2px -2px 0 8px;
    }

    &:hover .selector, &.active .selector{
      border: 2px solid selector-highlight;
      color: white !important;
    }

    &.active .selection-arrow{
      display: block !important;
    }
  }

  .selector{
    position: relative;
    color: #fff;
    height: 43px;
    width: 43px;
    font-weight: 300;
    line-height: 1.9;
    border-radius: 30px;
    cursor: pointer;
    background-size: 64px 74px;
    background-repeat: no-repeat;
    background-position: -3px -1;
    z-index: 1;
  }

  .selection-arrow{
    display: none;
    position: absolute;
    top: 45px;
    left: 14px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid selector-highlight;
    z-index:0;
  }
}

.wild .zoo.selector, .zoo .wild.selector{
  display: none;
}

.swiper-slide{
  background-color: white;
  overflow: auto;

  &.loaded{
    .image-slide, .dots{
      display: block;
    }

    .icon-spin{
      display: none;
    }
  }

  &.loaded.multiple-images{
    .slide-nav{
      display: block;
    }
  }
}

.info-pane{
  position: relative;
  padding: 45px 25px 25px 25px;
}

.slider-wrapper{
  position: relative;
  height: 400px;
  overflow: hidden;

  .icon-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin: -15px 0 0 -21px;
  }

  .slide-nav{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    font-size: 60px;
    color: #fff;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    &.next-slide{
      right: 0;
    }

    &:hover{
      opacity: 0.7;
    }
  }

  ul, ul li {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  ul li{
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .dots{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:  20px;
    padding: 0;
    margin: 0;
  }

  .dots li{
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .6;

    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));

    &.active{
      background: #fff;
      opacity: .8;
    }

    &:hover{
      opacity: .8;
    }
  }
}

.photo-credit{
  font-size: 12px;
  color: #999;
}

.text-content{
  padding-right: 80px;

  h3,h6,p{
    padding: 0;
    margin: 0;
  }

  h3{
    font-size: 50px;
    line-height: 1.2;
    margin: .4em 0;
  }

  h6{
    font-size: 18px;

    &.birthday-text, &.status-text{
      margin-bottom: 15px;
    }

    &.zoo-text-header, &.wild-text-header{
      display: none;
    }

    &.zoo-text-header{
      color: accent1;
    }

    &.wild-text-header{
      margin-top: 15px;
      color: accent2;
    }
  }

  p{
    font-size: 16px;
  }

  .zoo-text, .wild-text{
    display: none;
  }
}

.zoo .scientific-text, .zoo .status-text, .wild .birthday-text{
  display: none;
}

.zoo .zoo-text, .wild .wild-text{
  display: block;
}

.map-toggle-wrapper{
  position: absolute;
  z-index: 101;

  .map-toggle{
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 65px;
    cursor: pointer;
  }

  .btn-text{
    margin-top: 30px;
  }

  p{
    margin: 0;
    line-height: 1;
    font-size: 40px;
    font-weight: 600;

    &.small{
      font-weight: 600;
      font-size: 18px;
    }
  }

  &#zoo-toggle-wrapper:hover, &#zoo-toggle-wrapper.active{
    margin: -3px 0 0 -3px;
  }

  &#boundary-toggle-wrapper{
    margin-top: 140px;

    &:hover, &.active{
      margin: 137px 0 0 -3px;
    }
  }

  &:hover .map-toggle, &.active .map-toggle{
    color: white !important;
    border: 3px solid selector-highlight;
  }

  .selection-arrow{
    display: none;
    position: absolute;
    top: 21px;
    left: 102px;
    width: 0;
    height: 0;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    border-left: 50px solid selector-highlight;
  }

  &.active .selection-arrow{
    display: block;
  }
}

#zoo-toggle-wrapper .map-toggle{
  @extend .map-toggle-wrapper;

  background-color: accent1;
  color: lighten(accent1, 70%);
}

#boundary-toggle-wrapper .map-toggle{
  @extend .map-toggle-wrapper;

  background-color: accent2;
  color: lighten(accent2, 70%);
}

.back-info{
  display: none;
}

.mobile-instructions{
  padding: 25px 0 !important;
  text-align: center;
  color: #d6564d;
}

.touch{

  .map-toggle-wrapper{
    .map-toggle{
      width: 80px;
      height: 80px;

      .btn-text{
        margin-top: 16px !important;
      }

      p{
        font-size: 30px !important;

        &.small{
          font-size: 14px !important;
        }
      }
    }

    .selection-arrow{
      top: 19px;
      left: 73px;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 30px solid #999;
    }
  }

  #boundary-toggle-wrapper{
    margin-top: 96px;

    &:hover, &.active{
      margin: 93px 0 0 -3px;
    }
  }
}

@media all and (max-width: 767){

  .info #zoo-toggle-wrapper .map-toggle{
    color: lighten(accent1, 70%) !important;
  }

  .info #boundary-toggle-wrapper .map-toggle{
    color: lighten(accent2, 70%) !important;
  }

  .touch{

    .map-toggle-wrapper{
      z-index: 105;

      &#zoo-toggle-wrapper:hover, &#zoo-toggle-wrapper.active{
        margin: 0;
      }

      .map-toggle{
        text-align: center;
        width: 110px;
        height: 60px;
        border-radius: 0;
        border: none !important;
        cursor: pointer;

        .btn-text{
          margin-top: 8px !important;
        }
      }

      p{
        font-size: 28px !important;

        &.small{
          font-size: 14px !important;
        }
      }

      .selection-arrow{
        display: none !important;
      }
    }

  }

  .active .back-info{
    display: block;
    background-color: #444 !important;
    color: white !important;
  }

  .info .back-info{
    display: none;
  }

  #zoo-toggle-wrapper{
    left: 0;
    bottom: 60px;
    top: auto;

    .map-toggle{
      border-top-right-radius: 10px;
    }
  }

  #boundary-toggle-wrapper{
    bottom: 60px;
    right: 110px;

    .map-toggle{
      border-top-left-radius: 10px;
    }
  }

  #animal-selector, #side-pane-buffer-top{
    display: none;
  }

  #side-pane{
    background-color: white;
    width: 100%;
    max-width: none;
    min-width: 0;
  }

  .info #side-pane{
    z-index: 105;
  }

  .info-pane{
    padding: 10px;

    .text-content{
      padding: 0 0 60px;
    }

    .zoo-text-header, .zoo-text, .wild-text-header, .wild-text, .birthday-text, .scientific-text, .status-text{
      display: block !important;
    }

    .birthday-text{
      margin-bottom: 0 !important;
    }
  }

  .slider-wrapper{
    .slide-nav{
      opacity: 0.5;

      &.next-slide{
        right: -15px;
      }

      &.prev-slide{
        left: -15px;
      }
    }
  }
}