#side-pane-buffer-top{
  position: absolute;
  background-color: white;
  width: 30%;
  height: 35px;
  max-width: 750px;
  min-width: 500px;
  z-index: 4;
}

#side-pane{
  height: 100%;
  width: 30%;
  max-width: 750px;
  min-width: 500px;
}

#animal-selector{
  position: absolute;
  margin-top: -15px;
  left: 15px;
  z-index: 10;

  .selector-wrapper{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left:10px;

    &:hover, &.active{
      margin: -2px -2px 0 8px;
    }

    &:hover .selector, &.active .selector{
      border: 2px solid selector-highlight;
      color: white !important;
    }

    &.active .selection-arrow{
      display: block !important;
    }
  }

  .selector{
    position: relative;
    color: white;
    height: 30px;
    width: 30px;
    font-weight: 300;
    line-height: 1.9;
    border-radius: 17px;
    cursor: pointer
    z-index: 1;
  }

  &.zoo .selector{
    background-color: accent1;
    color: lighten(accent1, 70%);
  }

  &.boundary .selector{
    background-color: accent2;
    color: lighten(accent2, 70%);
  }

  .selection-arrow{
    display: none;
    position: absolute;
    top: 28px;
    left: 11px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 15px solid selector-highlight;
    z-index:0;
  }
}

.swiper-slide{
  background-color: white;
  overflow: auto;

  &.loaded{
    .image-slide, .dots{
      display: block;
    }
  }

  &.loaded.multiple-images{
    .slide-nav{
      display: block;
    }
  }
}

.info-pane{
  position: relative;
  padding: 35px 25px 25px 25px;
}

.slider-wrapper{
  position: relative;
  height: 400px;
  overflow: hidden;

  .slide-nav{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    font-size: 60px;
    color: #fff;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    &.next-slide{
      right: 0;
    }

    &:hover{
      opacity: 0.7;
    }
  }

  ul, ul li {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  ul li{
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .dots{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:  20px;
    padding: 0;
    margin: 0;
  }

  .dots li{
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .6;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;

    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));

    &.active{
      background: #fff;
      opacity: .8;
    }

    &:hover{
      opacity: .8;
    }
  }
}

.text-content{
  padding-right: 80px;

  h3,h6,p{
    padding: 0;
    margin: 0;
  }

  h3{
    font-size: 50px;
    line-height: 1.2;
    margin: .4em 0;
  }

  h6{
    font-size: 18px;

    &.birthday-text, &.status-text{
      margin-bottom: 15px;
    }

    &.zoo-text-header, &.wild-text-header{
      display: none;
    }

    &.zoo-text-header{
      color: accent1;
    }

    &.wild-text-header{
      margin-top: 15px;
      color: accent2;
    }
  }

  p{
    font-size: 16px;
  }

  .zoo-text, .wild-text{
    display: none;
  }
}

.zoo .scientific-text, .zoo .status-text, .boundary .birthday-text{
  display: none;
}

.zoo .zoo-text, .boundary .wild-text{
  display: block;
}

.map-toggle-wrapper{
  position: absolute;
  z-index: 101;

  .map-toggle{
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 65px;
    cursor: pointer;
  }

  p{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-top: 9px;

    .small{
      font-size: 18px;
    }
  }

  &#zoo-toggle-wrapper:hover, &#zoo-toggle-wrapper.active{
    margin: -3px 0 0 -3px;
  }

  &#boundary-toggle-wrapper{
    margin-top: 140px;

    &:hover, &.active{
      margin: 137px 0 0 -3px;
    }
  }

  &:hover .map-toggle, &.active .map-toggle{
    color: white !important;
    border: 3px solid selector-highlight;
  }

  .selection-arrow{
    display: none;
    position: absolute;
    top: 21px;
    left: 102px;
    width: 0;
    height: 0;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    border-left: 50px solid selector-highlight;
  }

  &.active .selection-arrow{
    display: block;
  }
}

#zoo-toggle-wrapper .map-toggle{
  @extend .map-toggle-wrapper;

  background-color: accent1;
  color: lighten(accent1, 70%);
}

#boundary-toggle-wrapper .map-toggle{
  @extend .map-toggle-wrapper;

  background-color: accent2;
  color: lighten(accent2, 70%);
}

@media all and (max-width: 767){

  #animal-selector, #side-pane-buffer-top{
    display: none;
  }

  #side-pane{
    background-color: white;
    width: 100%;
    max-width: none;
    min-width: 0;
    z-index: 105;
  }

  .info-pane{
    padding: 10px;

    .text-content{
      padding: 0 0 50px;
    }

    .zoo-text-header, .zoo-text, .wild-text-header, .wild-text, .birthday-text, .scientific-text, .status-text{
      display: block !important;
    }

    .birthday-text{
      margin-bottom: 0 !important;
    }
  }

  .slider-wrapper{
    .slide-nav{
      opacity: 0.5;

      &.next-slide{
        right: -15px;
      }

      &.prev-slide{
        left: -15px;
      }
    }
  }
}